<h3>Accueil</h3>

<p>Bienvue sur l'application Pharmarket, sur cette application vous avez accès à :</p>
<ol>
	<li>Inscription / Connection</li>
	<li>La liste des produits les plus vendue</li>
	<li>La liste des dèrnier produits posté par nos administrateur</li>
	<li>La liste des produits</li>
	<li>Les details sur un produit</li>
	<li>Les commentaires sur le produit</li>
	<li>Un ajout d'un commentaire sur un produit</li>
	<li>L’appel à un conseiller</li>
	<li>Faire une demande de contact</li>
	<li>Calcul de posologie</li>
	<li>Lire le FAQ</li>
	<li>Lire les CGU</li>
	<li>Lire les CGV</li>
	<li>Lire la charte qualité</li>
	<li>Lire les info à propos de Pharmarket</li>
</ol>

<p>Merci d'utiliser la première version de notre application</p>
